/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
    /*========== COLORS ==========*/
    --body: rgb(252, 252, 252);
    --first-color-dark: rgb(32, 32, 32);
    --first-color-light: #fff;
    --second-color: rgb(61, 61, 61);
    --text-shadow: 0px  0px 5px rgb(139, 131, 131);
    --box-shadow: #bfae95;
    /*========== SIZE ==========*/
    --xxlarge-font-size: 3rem;
    --xlarge-font-size: 2rem;
    --large-font-size: 1.4rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

}
*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    

}
body{
    background-color: var(--body);
        text-align: center;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    transition: all 1s;
}
h1{
    font-size: var(--xxlarge-font-size);
    color: var(--first-color-light);
    text-shadow: var(--text-shadow);
}
h2{
    margin: 1rem;
    font-size: var(--large-font-size);
    color: var(--second-color);
}
i{
    background-color:var(--box-shadow);
    font-size: var(--xlarge-font-size);
    color: var(--first-color-light);
    border-radius: 5px;
}
i:hover{ 
    transform: scale(0.9);
    color: #f2f2f2;
}
/*========== NAV ==========*/
nav{
    background-color: rgba(255, 255, 255, 0.604);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0%;
    
}
nav .nav-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* logo */
nav .nav-body .nav-logo a{
    font-size: var(--large-font-size);
    color: var(--second-color);
    text-decoration: none;
}
nav .nav-body .nav-logo a:hover{
    color: black;
    text-decoration: overline var(--box-shadow);
}
/* link */
nav .nav-body .nav-link a{
    color: var(--first-color);
    text-decoration: none;
    font-size: var(--normal-font-size);
    padding: 0.5rem;
    border-radius: 10px;
    border: 0.1rem var(--box-shadow) solid;
}
nav .nav-body .nav-link a:hover{
    background-color:var(--box-shadow);
    text-shadow: 0px  0px 5px var(--text-shadow);
    text-decoration: overline;
    color: var(--first-color-light);
}
/*========== END NAV ==========*/
/*========== ASIDE ==========*/
aside{
    width: 3rem;
    padding-top: 5px;
    position: fixed;
    display: grid;
    margin-top: 200px;
}
/*========== END ASIDE ==========*/
/*========== MAIN ==========*/
main .main-header{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
/* columnas card */
main .main-body .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
/* card */
main .card{
    width: 300px;
    height: 400px;
    margin: 1rem;
    background-color: var(--first-color-light);
    border-radius: 30px;
    box-shadow: 0px 2px 2px 0px var(--box-shadow);
    transition: all 1s ease;

}
main .card:hover{
    box-shadow: 0px 0px 5px var(--box-shadow);
    transition: all 0.3s;
}
main .card img{
    width: 250px;
}
main .card p{
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--second-color);
}
/*========== END MAIN ==========*/
/*========== SECTION 1, 2 ==========*/
section .section-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
}
section a{
    color: var(--box-shadow);
}
section a:hover{
    text-decoration: overline;
}
/*========== END SECTION 1, 2 ==========*/
/*========== FOOTER ==========*/
footer{
    background-color: var(--first-color-light);
    margin-top: 5rem;
    transition: all 2s;
}
footer .footer-body .container{
    display: flex;
    justify-content: space-around;

}
footer h2{
    font-size: large;
    text-decoration: overline var(--box-shadow);
}
footer .card{
    width: 350px;
    height: 450px;
    margin: 1rem;
    background-color: var(--first-color-light);
    border-radius: 30px;
    box-shadow: 1px 1px 0px 0px var(--box-shadow);
}
footer form{
    width: 300px;
    height: 250px;
}
footer .form-item{
    text-align: left;
    display: grid;
    margin: 1rem;
}
footer input{
    border-radius: 5px;
    height: 50px;
    width: 100%;
    top: 0%;
    font-size: 1rem;
    border: 0.1rem var(--box-shadow) solid;
    background-color: #c7c2bb5b;
    outline: none;
    
}
footer input::placeholder{
    color: #000000;
    font-size: 1rem;
}
footer input:focus{
    border-radius: 5px;
    border: 0.1rem var(--box-shadow) solid;
}

/*========== END FOOTER ==========*/
@media (max-width: 1024px){
}
@media (max-width: 768px){
    h1{
        font-size: var(--xlarge-font-size);
    }
}
@media (max-width: 320px){
    h1{
        font-size: var(--large-font-size);
    }
}