<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>
<body>
    <!-- ========== HEADER ========== --> 
    <header>
        <div class="container">
            <div class="header-link">
                <ul>
                    <li><a href="">LINK</a></li>
                    <li><a href="">LINK</a></li>
                    <li><a href="">LINK</a></li>
                    <li><a href="">LINK</a></li>
                    <li><a href="">LINK</a></li>
                    <li><a href="">LINK</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- ========== NAV ========== -->
    <nav>
        <div class="container">
            <div class="nav-body">
                <div class="nav-logo">
                    <ul>
                        <li><a href="">LOGO</a></li>
                    </ul>
                </div>
                <div class="nav-link">
                    <ul>
                        <li><a href="">LINK</a></li>|
                        <li><a href="">LINK</a></li>|
                        <li><a href="">LINK</a></li>|
                        <li><a href="">LINK</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ========== END NAV ========== -->
    <!-- ========== MAIN ========== -->
    <main>
        <div class="container">
            <div class="main-header">
                <h1>TITULO</h1>
            </div>
            <div class="main-body">
                <h2>TITULO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus doloremque assumenda dolorem quis! Ratione fugit laudantium, debitis, magni inventore repudiandae neque, illum tempora et obcaecati sed ex dolores esse!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus doloremque assumenda dolorem quis! Ratione fugit laudantium, debitis, magni inventore repudiandae neque, illum tempora et obcaecati sed ex dolores esse!</p>
            </div>
            <div class="mian-footer">
                <h3>TITULO</h3>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN ========== -->
    <!-- ========== FOOTER ========== -->
    <footer>
        <div class="container">
            <div class="footer-body">
                <div class="footer-link">
                    <ul>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <ul>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <ul>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                        <li><a href="">LINK</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->
</body>
</html>